<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title pRuncode
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    body
        #app